.slideshow
  %img{:height => "200", :src => "../assets/nk06.jpg", :width => "200"}/
  %img{:height => "200", :src => "../assets/nk20.jpg", :width => "200"}/
  %img{:height => "200", :src => "../assets/nk13.jpg", :width => "200"}/


