.landing-container
	.fadeshow1
		%img{:height => "400", :src => "../assets/nk13.jpg", :width => "400"}/
		%img{:height => "400", :src => "../assets/nk20.jpg", :width => "400"}/
		%img{:height => "400", :src => "../assets/nk15.jpg", :width => "400"}/

	.fadeshow2
		%img{:height => "400", :src => "../assets/nk06.jpg", :width => "400"}/
		%img{:height => "400", :src => "../assets/nk07.jpg", :width => "400"}/
		%img{:height => "400", :src => "../assets/nk03.jpg", :width => "400"}/

	.landing-logo
		%img{:src => "../assets/logo.png"}