.navigate
	%a{:class => "linksto", :href =>"#featured"} Featured 
	%a{:class => "linksto", :href => "#armdecor"} Arm Decor 
	%a{:class => "linksto", :href => "#thatneckline"} That Neckline 
	%a{:class => "linksto", :href => "#about"} About 
	%a{:class => "linksto", :href => "/"} Landing