.product-container--outer
  .product-container--inner
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
                %img{:class => "product-img", :alt => "", :src => "../assets/brace01.jpg"}/
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
                %img{:class => "product-img", :alt => "", :src => "../assets/brace02.jpg"}/
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
                %img{:class => "product-img", :alt => "", :src => "../assets/brace04.jpg"}/

    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
                %img{:class => "product-img", :alt => "", :src => "../assets/necklace01-1kh.png"}/
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
                %img{:class => "product-img", :alt => "", :src => "../assets/necklace02-1kh.png"}/
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
                %img{:class => "product-img", :alt => "", :src => "../assets/necklace01-1kh.png"}/

    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/mod01.jpg"}/

        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/mod02.jpg"}/

        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/mod03.jpg"}/

    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/mod01.jpg"}/

        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/mod02.jpg"}/

        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p.product-text HERE IS THE PRODUCT DESCRIPTION
            %li.product--thumb
              .product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/mod03.jpg"}/

.span4.trial



