.product-container--outer
  .product-container--inner
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.outer-row
              .product-detail
                %p Product description
            %li.product--thumb
              .product--thumb
                %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots12.jpg"}/
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots10.jpg"}/
            %li.thumbnails
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots27.jpg"}/
              %h3 Product Name
              %p Product Description
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/necklace01-1kh.png"}/
            %li.thumbnails
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/necklace02-1kh.png"}/
            %li.thumbnails
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/necklace03-1kh.png"}/
            %li.thumbnails
              %h3 Product Name
              %p Product Description
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/necklace01-1kh.png"}/
            %li.thumbnails
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/necklace02-1kh.png"}/
            %li.thumbnails
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/necklace03-1kh.png"}/
            %li.thumbnails
              %h3 Product Name
              %p Product Description
.span4.trial



