.product-container--outer
  .product-container--inner
    %a#featured
    %h3 Featured 
    .product-container--promote  
      .display-large--left
        .product-overlay--top
          %p.product-text--small One of a kind
        %img{:class => "product-img--large", :alt => "", :src => "../assets/neck00.jpg"}
      .display-large--right
        %ul.display
          %li{:class => "display-small--top"}
            %img{:class => "product-img", :alt => "", :src => "../assets/brace01.jpg"}/
          %li{:class => "display-small--bottom"}
            %img{:class => "product-img", :alt => "", :src => "../assets/brace04.jpg"}/
    
    %a#armdecor
    %h3 Arm Decor
    .product-container--itemize
      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace08.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace02.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                .product-overlay--bottom
                  %p.product-text--phrase A touch of gold
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace05.jpg"}/
      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace03.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                .product-overlay--bottom
                  %p.product-text--phrase Cute as a button
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace06.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace07.jpg"}/
    %a#thatneckline
    %h3 That Neckline
    .product-container--itemize
      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text GOLDEN SEAS
                  %p.product-text--small A collar-bone statement piece featuring gold plated findings in a geometric pattern, and emerald beads.
              %li.product--thumb
                .product-overlay--topsmall
                  %p.product-text--phrase Antique Beads
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/neck01.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/neck02.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/neck03.jpg"}/

      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--small asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/mod01.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--small asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/mod02.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text HERE IS THE PRODUCT DESCRIPTION
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--small asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/mod03.jpg"}/

.span4.trial



