.product-container--outer
  .product-container--inner
    %a#featured
    %h3 Featured 
    .product-container--promote  
      .display-large--left
        .product-overlay--top
          %p.product-text--phrase One of a kind
        %img{:class => "product-img--large", :alt => "", :src => "../assets/neck00.jpg"}
      .display-large--right
        %ul.display
          %li{:class => "display-small--top"}
            .product-overlay--bottomfeature
              %p.product-text--phrase It's all in the details
            %img{:class => "product-img", :alt => "", :src => "../assets/brace01.jpg"}/
          %li{:class => "display-small--bottom"}
            %img{:class => "product-img", :alt => "", :src => "../assets/brace04.jpg"}/
    
    %a#armdecor
    %h3 Arm Decor
    .product-container--itemize
      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text THE FEARLESS
                  %p.product-text--small Genuine leather wrap bracelet with gold studs and dramatic toggle-clasp enclosure.
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace08.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text THE SOPHISTICATED
                  %p.product-text--small Neutral leather bracelet with silver rhinestone findings and magnetic clasp. 
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace02.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text THE ROMANTIC
                  %p.product-text--small A dainty chain bracelet with signature geometric elements; great on its own or for layering.
              %li.product--thumb
                .product-overlay--bottom
                  %p.product-text--phrase A touch of gold
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace05.jpg"}/
      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text THE STRONG
                  %p.product-text--small
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace03.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text THE WHIMSICAL
                  %p.product-text--small Tiny pink and grey seed beads coil delicately around cord, and finished with a vintage metal button enclosure.
              %li.product--thumb
                .product-overlay--bottom
                  %p.product-text--phrase Cute as a button
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace06.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text THE CREATIVE
                  %p.product-text--small Golden beads are threaded through grey leather cord   and finished with geometric enclosure.
              %li.product--thumb
                / .product-overlay--bottom
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/brace07.jpg"}/
    %a#thatneckline
    %h3 That Neckline
    .product-container--itemize
      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text GOLDEN SEAS
                  %p.product-text--small A collar-bone statement piece featuring gold plated findings in a geometric pattern, and emerald beads.
              %li.product--thumb
                .product-overlay--topsmall
                  %p.product-text--phrase Antique Beads
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/neck01.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text SILVER LAUREL
                  %p.product-text--small Intertwining silver plated fish-bone and rhinestone chains with rope detailing; this necklace is all about wisdom and beauty. 
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/neck02.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text ARMOR
                  %p.product-text--small A unique necklace representing love and strength, and featuring one-of-a-kind brass vintage findings with modern geometric elements.
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--phrase asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/neck03.jpg"}/

      .row-fluid
        .span12
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text TANGERINE DROPS
                  %p.product-text--small A long, layering necklace with bursts of dainty, bright orange glass beads, dotting a gold plated chain.
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--small asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/mod01.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text JUNO
                  %p.product-text--small Delicate elements of gold beads, gold plated bars, and a unique nest-like pendant sit on a long chain. 
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--small asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/mod02.jpg"}/
          .span4
            %ul.thumbnails
              %li.outer-row
                .product-detail
                  %p.product-text AMETHYST
                  %p.product-text--small This long, double-layered necklace features a bold, amethyst- coloured stone, tangerine glass beads, and geometric elements. 
              %li.product--thumb
                / .product-overlay--topsmall
                /   %p.product-text--small asdf
                .product--thumb
                  %img{:class => "product-img", :alt => "", :src => "../assets/mod03.jpg"}/

.span4.trial



