.product-container--outer
  .product-container--inner
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots01.jpg"}/
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots02.jpg"}/
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots03.jpg"}/
              %h3 Product Name
              %p Product Description
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots01.jpg"}/
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots02.jpg"}/
              %h3 Product Name
              %p Product Description      
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots03.jpg"}/
              %h3 Product Name
              %p Product Description
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots01.jpg"}/
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots02.jpg"}/
              %h3 Product Name
              %p Product Description      
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots03.jpg"}/
              %h3 Product Name
              %p Product Description


