// Page Border //
.border--top
.border--left
.border--right
.border--bottom

// Header Section //
.home-header-container--outer
  .home-header-container--inner
    .row-fluid
      .span6.offset3.home-logo--container
        %a{:href => "/"}
          %img{:class => "home-logo-img", :alt => "", :src => "../assets/logo.png"}
    = render "/partials/navbar"

.carousel-container--outer
  .carousel-container--inner
    .carousel.slide
      .carousel-inner
        .item.active
          %img{:class => "carousel-img--first", :alt => "", :src => "../assets/flowerbg.png"}/
          .carousel-content
            .carousel-captions
              %h1 nine friends of mine
              %h3.lead-sub
                %span Through the inspiration of friends blossomed a jewelry line of unique <br /> 
                %span and symbolic pieces. Find the piece that speaks true to you. 
        .item
          %img{:alt => "", :src => "../assets/purple.jpg"}/
          .carousel-content
            .carousel-captions
              %h1 Another example headline
              %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        .item
          %img{:alt => "", :src => "../assets/gaze.jpg"}/
          .carousel-content
            .carousel-captions
              %h1 Another example headline
              %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      %a.left.carousel-control{"data-slide" => "prev", :href => ".carousel.slide"} ‹
      %a.right.carousel-control{"data-slide" => "next", :href => ".carousel.slide"} ›

// Product Thumbnail Section //
= render "/partials/products_partial"


// About Artist Section //
%a#about
.artist-container--outer
  .artist-container--inner
    .row-fluid
      .span4
        %img{:class => "artist-img", :alt => "", :src => "../assets/portrait-crop.png"}
      .span8
        %h3 Artist Name
        %p.par-text A teacher by day and a jeweler by night. Born and raised in Toronto, my love for all things gold and glitzy has been with me all my life. I began making jewelry as a hobby two years ago when I needed snazzy gifts for my nearest and dearest friends. Inspired by the wonderful people in my life, I decided to create my own line of handcrafted jewelry and just like that, Nine & Knots came to be.

// Footer Section //
.footer-container
  .row-fluid
    .footer-content 
      %p webiste by cleejin


:javascript
  !function ($) {
    $(function(){
      $('.carousel').carousel({
      interval: false
      });
    })
  }(window.jQuery)