.carousel-outer-container
  .grid
    .carousel.slide
      .carousel-inner
        .item.active
          %img{:alt => "", :src => "../assets/nk06.jpg"}/
          .carousel-content
            .carousel-captions
              %h1 Example headline
              %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        .item
          %img{:alt => "", :src => "../assets/nk20.jpg"}/
          .carousel-content
            .carousel-captions
              %h1 Another example headline
              %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        .item
          %img{:alt => "", :src => "../assets/nk13.jpg"}/
          .carousel-content
            .carousel-captions
              %h1 One more for good measure
              %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              / %a.btn.btn-large.btn-primary{:href => "#"} Browse gallery
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›

// Product Thumbnail Section //

.product-container--outer
  .product-container--inner
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots01.jpg"}/
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots02.jpg"}/
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots03.jpg"}/
              %h3 Product Name
              %p Product Description
    .row-fluid
      .span12
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots01.jpg"}/
              %h3 Product Name
              %p Product Description
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots02.jpg"}/
              %h3 Product Name
              %p Product Description      
        .span4
          %ul.thumbnails
            %li.product--thumb
              %img{:class => "product-img", :alt => "", :src => "../assets/nineandknots03.jpg"}/
              %h3 Product Name
              %p Product Description

// About Artist Section //
.artist-container--outer
  .artist-container--inner





:javascript
  !function ($) {
    $(function(){
      // carousel demo
      $('.carousel').carousel({
      interval: 50000
      });
    })
  }(window.jQuery)