// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.UNUSED {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

// Carousel Section

.carousel {
  margin-bottom: 60px;
}

.carousel .item {
  height: 400px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.carousel-content {
  position: absolute;
  z-index: 9;
  margin: auto;
  bottom: 0px;
  // border: 1px solid green;
}

.carousel-captions {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 15px 20px;
  margin-top: 200px;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

// .carousel-captions h1,
// .carousel-captions .lead {
//   margin: 0;
//   line-height: 1.25;
//   color: #fff;
//   text-shadow: 0 1px 1px rgba(0,0,0,.4);
// }
// .carousel-captions .btn {
//   margin-top: 10px;
// }

// Product Section
.product-outer-container {
  overflow: auto;
  background-color: #DDD;
  border: 1px solid black;
  padding: 20px;
}

// .thumbnails > li {
//   float: right;
//   margin-bottom: 20px;
//   margin-left: 20px;
// }

li.product--thumb {
  max-height: 470px;
  float: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.product-img {
  overflow: auto;
  max-height: 400px;
  margin: 0 auto;
}


