body {
	background-color: #FFF;
}

#main {
	margin: 0 auto;
	margin-top: 200px;
	height: 600px;
	width: 800px;
}

.landing-container {
	position: absolute;
}

.fadeshow1 {
	float: left;
}

.fadeshow2 {
	float: right;
}

.landing-logo {
	clear: both;
	text-align: center;
	padding-top: 20px;
}

